<script setup>
import { RouterLink, RouterView } from "vue-router";
import HeaderShow from "./components/HeaderShow.vue";
import CalendarioReservas from "../components/CalendarioReservas.vue";
</script>

<template>
    <header>
        <HeaderShow />
    </header>

    <body>
        <CalendarioReservas />
        <router-view> </router-view>
    </body>
    <footer>
        <FooterShow />
    </footer>
</template>
