<template>
    <div class="container-fluid m-0 p-0">
        <div class="banner">
            <div class="banner-text">
                <img src="../assets/fondoBatoi.jpg" style="width: 100%; height: auto" />
                <h1 class="benvingut">BENVINGUTS</h1>
                <input class="buttonReserva" type="button" value="Reservar" @click="verReservas" />
            </div>
        </div>
        <MenuRestaurante></MenuRestaurante>
    </div>
</template>

<script>
import MenuRestaurante from "./MenuRestaurante.vue";
export default {
    methods: {
        verReservas() {
            this.$router.push({ path: "reservas" });
        },
    },
    components: { MenuRestaurante },
};
</script>
<style>
@media (min-width: 768px) {
    .logo {
        width: 200px;
        display: grid;
        place-items: center;
    }

    .benvingut {
        font-size: 100px;
        margin-bottom: 20%;
    }

    .buttonReserva {
        margin-bottom: 200px;
        padding: 10px;
        margin: 0px;
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .logo {
        width: 200px;
        display: grid;
    place-items: center;
    }

    .benvingut {
        padding: 40px;
        font-size: 0px;
        margin-bottom: 10%;
    }

    .buttonReserva {
        margin-bottom: 200px;
        padding: 10px;
        margin: 0px;
        font-size: 20px;
    }
}

.banner {
    position: relative;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-position: center;
}

.benvingut {
    display: flex;
    text-align: center;
    float: left;
    position: absolute;
    color: white;
    text-shadow: 1px 1px 13px rgba(0, 0, 0, 0.5);
}


.buttonReserva {
    cursor: pointer;
    position: absolute;
    width: 250px;
    border: 7px solid white;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    background-color: #00000067;
}

.buttonReserva:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 15px solid #96bc01;
    transition: all 1s;
}

.banner-text {
    display: grid;
    place-items: center;
}
</style>
