<template>
    <div class="calendarEntero">
        <div class="calendar">
            <div class="calendar-header">
                <div class="botones" @click="prevMonth">◀</div>
                <p>{{ month }} {{ year }}</p>
                <div class="botones" @click="nextMonth">▶</div>
            </div>
            <div class="calendar-body">
                <div class="calendar-day-header">
                    <div v-for="day in daysOfWeek">{{ day }}</div>
                </div>
                <div v-for="week in weeks">
                    <div v-for="day in week" :class="{ inactive: !day, selected: isSelected(day), today: isToday(day) }" @click="selectDay(day)">
                        {{ day || "" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <FormularioReserva v-bind:fecha="fechaCompleta" :enviarFechaReserva="enviarFechaReserva"></FormularioReserva>
    

</template>
<script>
import FormularioReserva from "./FormularioReserva.vue";
import axios from "axios";
export default {
    data() {
        return {
            fechasCreadas: [],
            selectedDay: null,
            date: new Date(),
            month: "",
            year: "",
            daysOfWeek: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
            weeks: [],
            fechaCompleta: "",
            fechaFormatted: "",
        };
    },
    mounted() {
        this.month = this.date.toLocaleString("default", { month: "long" });
        this.year = this.date.getFullYear();
        this.generateCalendar();
    },
    methods: {
        compararFechas() {
            const fechaClick = (this.fechaFormatted = this.year + "-" + this.month + "-" + this.day);
            const fechaApi = this.created();
            
            if (fechaApi === fechaClick) {
                const enviarFechaReserva = fechaClick;
                return enviarFechaReserva;
            }
            return;
        },
        created() {
            axios
                .get("http://172.16.221.31/api/fechas")
                .then((response) => {
                    this.fechasCreadas = response.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        isToday(day) {
            if (this.month === "January") {
                this.month = "enero";
            } else if (this.month === "February") {
                this.month = "febrero";
            } else if (this.month === "March") {
                this.month = "marzo";
            } else if (this.month === "April") {
                this.month = "abril";
            } else if (this.month === "May") {
                this.month = "mayo";
            } else if (this.month === "June") {
                this.month = "junio";
            } else if (this.month === "July") {
                this.month = "julio";
            } else if (this.month === "August") {
                this.month = "agosto";
            } else if (this.month === "September") {
                this.month = "septiembre";
            } else if (this.month === "October") {
                this.month = "octubre";
            } else if (this.month === "November") {
                this.month = "noviembre";
            } else if (this.month === "December") {
                this.month = "diciembre";
            }
            return this.today === day;
        },
        prevMonth() {
            this.date = new Date(this.date.getFullYear(), this.date.getMonth() - 1);
            this.month = this.date.toLocaleString("default", { month: "long" });
            this.year = this.date.getFullYear();
            this.generateCalendar();
        },
        nextMonth() {
            this.date = new Date(this.date.getFullYear(), this.date.getMonth() + 1);
            this.month = this.date.toLocaleString("default", { month: "long" });
            this.year = this.date.getFullYear();
            this.generateCalendar();
        },
        generateCalendar() {
            let currentMonth = this.date.getMonth();
            let firstDay = new Date(this.date.getFullYear(), currentMonth, 1).getDay();
            let daysInMonth = 32 - new Date(this.date.getFullYear(), currentMonth, 32).getDate();
            let calendar = [];
            let week = [];
            for (let i = 0; i < firstDay; i++) {
                week.push(null);
            }
            for (let i = 1; i <= daysInMonth; i++) {
                week.push(i);
                if (week.length === 7) {
                    calendar.push(week);
                    week = [];
                }
            }
            if (week.length) {
                calendar.push(week);
            }
            this.weeks = calendar;
        },
        selectDay(day) {
            this.compararFechas();
            let selectedDate = new Date(day);
            let fechaHoy = new Date();
            if (selectedDate < fechaHoy.getDate()) {
                this.selectedDay = day;
            }
            this.selectedDay = day;
            this.fechaCompleta = day + " de " + this.month + " de " + this.year;
        },
        isSelected(day) {
            return this.selectedDay === day;
        },
    },
    components: { FormularioReserva },
    computed: {
        today() {
            return new Date().getDate();
        },
    },
};
</script>
<style>
.today {
    background-color: #97bc0154;
}
.selected {
    background-color: #96bc01;
}
.botones {
    background-color: #96bc01;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.calendarEntero {
    background-color: #ffffff;
    float: none;
    margin-left: 10%;
    position: absolute;
}
.calendar {
    margin-top: 9%;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
}
.calendar-header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
}

.calendar-header button {
    background-color: white;
    border: 2px solid gray;
    border-radius: 0px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
}

.calendar-header p {
    font-size: 25px;
    font-weight: bold;
    margin: 0 15px;
}

.calendar-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 50px;
}

.calendar-day-header {
    display: flex;
    background-color: white;
    padding: 10px;
}

.calendar-day-header div {
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.calendar-body div {
    cursor: pointer;
    display: flex;
}

.calendar-body div div {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    margin: 10px;
}

.inactive {
    background-color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
    .calendar {
        width: 80%;
        height: 500px;
    }

    .calendar-header {
        padding: 10px;
    }

    .calendar-header button {
        padding: 5px 10px;
        font-size: 12px;
    }

    .calendar-header p {
        font-size: 20px;
    }

    .calendar-day-header div {
        font-size: 15px;
    }

    .calendar-body div div {
        width: 40px;
        height: 40px;
        font-size: 12px;
        margin: 5px;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
    .calendar {
        width: 90%;
        height: 400px;
    }

    .calendar-header {
        padding: 5px;
    }

    .calendar-header button {
        padding: 3px 8px;
        font-size: 10px;
    }

    .calendar-header p {
        font-size: 18px;
    }

    .calendar-day-header div {
        font-size: 12px;
    }

    .calendar-body div div {
        width: 30px;
        height: 30px;
        font-size: 10px;
        margin: 3px;
    }
}
</style>
