<template>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>L'Assaig</h6>
                    <p class="text-justify">
                        Bienvenido a L'assaig, un restaurante donde la gastronomía y la cultura se unen para brindarte una experiencia única. Ubicado en el corazón de la ciudad, nuestro restaurante te
                        invita a disfrutar de una amplia variedad de platos elaborados con ingredientes frescos y de alta calidad.
                    </p>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>Enlaces rápidos</h6>
                    <ul class="footer-links">
                        <li><a href="">Sobre nosotros</a></li>
                        <li><a href="">Contáctanos</a></li>
                        <li><a href="">Políticas de privacidad</a></li>
                        <li>
                            <a
                                href="https://www.google.es/maps/place/38%C2%B041'28.9%22N+0%C2%B029'48.0%22W/@38.69135,-0.4977782,19z/data=!3m1!4b1!4m12!1m7!3m6!1s0xd618702fd4eb5b1:0xab5dffe40dc99b43!2sCIP+FP+Batoi!8m2!3d38.6910773!4d-0.4962302!16s%2Fg%2F1hc37hyps!3m3!8m2!3d38.691349!4d-0.496657"
                                >Mapa a nuestro restaurante</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <img src="/src/assets/iconos-assaig/logo-assaig-w.png" class="logo" />
                </div>
            </div>
            <hr />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2023 Todos los derechos reservados por <a href="#">Miguel y Edgar</a>.</p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li>
                            <a class="social-links-icon" href="https://www.facebook.com/cuina.batoi.1"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li>
                            <a class="social-links-icon" href="https://twitter.com/CIP_FP_Batoi"><i class="bi bi-twitter"></i></a>
                        </li>
                        <li>
                            <a class="social-links-icon" href="https://www.instagram.com/hostaleria_cipfp_batoi/"><i class="bi bi-instagram"></i></a>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>

<script></script>
<style>
.site-footer {
    margin-top: 15%;
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links.inline li {
    display: inline-block;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.instagram:hover {
    background-color: #f74086;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}
</style>
