<template>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,300" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <div class="formEntero">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <h1>Contacto</h1>
                    <fieldset>
                        <label for="fecha">Fecha seleccionada</label>
                        <input type="text" name="fechaReserva" disabled :value="fecha" />
                        <legend><span class="number">1</span>Sobre tí</legend>
                        <label for="name">Nombre:</label>
                        <input type="text" v-model="reserva.nombre" name="user_name" />
                        <label for="email">Email:</label>
                        <input type="email" v-model="reserva.email" name="user_email" />
                        <label for="telefono">Teléfono:</label>
                        <input type="telefono" v-model="reserva.telefono" name="user_telefono" />
                    </fieldset>
                    <fieldset>
                        <legend><span class="number">2</span>Comensales</legend>
                        <label for="comensales">Número de comensales:</label>
                        <input type="number" v-model="reserva.comensales" name="comensales" min="1" max="20" />
                    </fieldset>
                    <fieldset>
                        <legend><span class="number">3</span>Alérgenos</legend>
                        <div>
                            <label for="alergenos">Alergenos:</label>
                            <select name="alergenos" id="alergenos">
                                <option v-for="alergeno in alergenos" :value="alergeno.id">{{ alergeno.nombre }}</option>
                            </select>
                        </div>
                        <label for="observaciones">Otras observaciones:</label>
                        <textarea v-model="reserva.observaciones" name="observaciones"></textarea>
                    </fieldset>
                    <button type="submit" class="botonReservar" @click.prevent="subidaApi()">Reservar!</button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
const IP = import.meta.env.VITE_API;

function getRandomChar() {
    const chars = "0123456789abcdefghijklmnopqrstuvwxyz";
    return chars.charAt(Math.floor(Math.random() * chars.length));
}

export default {
    data() {
        return {
            enviarFechaReserva: "",
            reserva: {},
            alergenos: [],
        };
    },
    props: {
        fecha: String,
        enviarFechaReserva: String,
    },
    methods: {
        sePuedeRevisar() {
            let fechaExiste = false;
            this.fechasCreadas.forEach((fecha) => {
                if (this.enviarFechaReserva.find((f) => f === fecha)) {
                    fechaExiste = true;
                    return;
                }
            });
            return fechaExiste;
        },
        cargarFecha() {
            axios
                .get(IP+"/fechas")
                .then((response) => {
                    this.fechasCreadas = response.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        cargarAlergenos() {
            axios
                .get(IP+"/alergenos")
                .then((response) => {
                    this.alergenos = response.data;
                    console.log(enviarFechaReserva);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        generarId() {
            let id = "";
            const usedChars = [];
            while (id.length < 5) {
                const char = getRandomChar();
                if (!usedChars.includes(char)) {
                    id += char;
                    usedChars.push(char);
                }
            }
            return id;
        },
        llamadaApi() {
            axios
                .get(IP+"/reservas")
                .then((response) => {
                    console.log(response.data);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        subidaApi() {
            const localizador = this.generarId();
            axios
                .post(IP+"/reservas", {
                    nombre: this.reserva.nombre,
                    email: this.reserva.email,
                    telefono: this.reserva.telefono,
                    comensales: this.reserva.comensales,
                    observaciones: this.reserva.observaciones,
                    localizador: localizador,
                    confirmada: 0,
                    id_fecha: 7,
                })
                .then((response) => {
                    console.log(response.data);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        ponerReservas() {
            this.$router.push({ path: "confirmacionReserva" });
        },
        seleccionarFechaReserva(fecha) {
            console.log(fecha);
        },
    },
    mounted() {
        this.cargarAlergenos();
    },
};
</script>

<style>

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    max-height: 1000px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 25px;
}

@media screen and (min-width: 768px) {
    form {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    form {
        width: 100%;
        position:relative;
    }
}

@media screen and (min-width: 1200px) {
    form {
        margin-top: 0%;
        width: 100%;
    }
}

.formEntero {
    margin-top: 2%;
    float: right;
    margin-right: 10%;
    margin-left: 60%;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="telefono"],
input[type="name"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="comensales"],
input[type="alergenos"],
input[type="observaciones"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #000000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 10px;
}

input[type="observaciones"] {
    word-break: break-all;
}

input[type="fecha"] {
    background-color: #ffffff;
    color: #ffffff;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #fff;
    background-color: #96bc01;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 50px;
    width: 100%;
    border: 1px solid #96bc01;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}


.number {
    background-color: #96bc01;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}
.botonReserva {
    border-radius: 20px;
}

@media screen and (min-width: 480px) {
    form {
        max-width: 480px;
    }
}
</style>
