<template>
    <div class="containerMenu mx-auto">
        <h1 class="p-4">Menú</h1>
        <div class="carousel">
            <div class="carousel-container">
                <img src="../assets/menu3.png" class="carousel-image active" />
                <img src="../assets/menu2.png" class="carousel-image" />
            </div>
            <a class="carousel-control left" href="#"><i class="fas fa-chevron-left"></i></a>
            <a class="carousel-control right" href="#"><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</template>
<style>
.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    width: 50%;
    height: auto;
    margin-right: 20px;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.carousel-image.active {
    opacity: 1;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    z-index: 1;
}

.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

.containerMenu {
    height: 880px;
    width: 1100px;
    margin-top: -7%;
    background-color: white;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Media Queries */

/* Dispositivos móviles */
@media (max-width: 767px) {
    .carousel-image {
        width: 100%;
        margin-right: 0;
    }
    
    .containerMenu {
        width: 100%;
        margin-top: 0;
        height: auto;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-image {
        width: 60%;
        margin-right: 10px;
    }
    
    .containerMenu {
        width: 100%;
        margin-top: 0;
        height: auto;
    }
}

/* PC de escritorio */
@media (min-width: 992px) {
    .carousel-image {
        width: 50%;
        margin-right: 20px;
    }
    
    .containerMenu {
        height: 880px;
        width: 1100px;
        margin-top: -7%;
    }
}
</style>

