<script setup>
import { RouterLink, RouterView } from "vue-router";
import FooterShow from "./components/FooterShow.vue";
import axios from "axios";
</script>

<template>
    <header>
        <nav>
            <img src="./assets/logo.png" class="logo" />
        </nav>
    </header>

    <body>
        <router-view> </router-view>
    </body>
    <FooterShow />
</template>
<style scoped>
/* Estilos para dispositivos con pantalla pequeña (móvil) */
@media (max-width: 576px) {
    .logo {
        display: block;
        margin: auto;
        max-width: 100%;
    }
}

/* Estilos para dispositivos con pantalla mediana (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
    .logo {
        display: block;
        margin: auto;
        max-width: 70%;
    }
}

/* Estilos para dispositivos con pantalla grande (PC) */
@media (min-width: 993px) {
    .logo {
        display: block;
        margin: auto;
        max-width: 50%;
    }
}

/* Ajustes generales para la página */
body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
</style>
